<div id="app">

	<!--<button (click)="toggleLogin()" style="position: absolute; bottom:10px;left: 10px;">toggle</button>-->

	<div [class]="{loginPrompt: true, flipUp: true, flipUpHide: loggedIn}">
		<div>
			<div>
				🔑 Please Login
			</div>
			<div>
				<div class="settings">
					<label for="username">Username</label>
					<input id="username" type="text" [(ngModel)]="oas.username" />

					<label for="password">Password</label>
					<input id="password" type="password" [(ngModel)]="oas.password"  />
				</div>
			</div>
			<div>
				<input id="rememberMe" type="checkbox" checked="checked">
				<label for="rememberMe">Remember My Device</label>
				<button (click)="oas.login()">Login</button>
			</div>
		</div>
	</div>

	<div [class]="{settings: true, flipUp: true, flipUpHide: !loggedIn}" style="margin: 8px;">

		<label *ngIf="databases.length">Database</label>
		<select *ngIf="databases.length" (change)="oas.switchDatabase()" [(ngModel)]="oas.database">
			<option *ngFor="let database of databases" [value]="database.id">{{database.clientName}}</option>
		</select>

		<label *ngIf="domains.length">Domains</label>
		<select *ngIf="domains.length" [(ngModel)]="oas.domain">
			<option *ngFor="let domain of domains">{{domain}}</option>
		</select>
		
		<label *ngIf="endpoints.length">Endpoints</label>
		<select *ngIf="endpoints.length" [(ngModel)]="oas.endpoint">
			<option *ngFor="let endpoint of endpoints">{{endpoint}}</option>
		</select>

		<label *ngIf="methods.length">Method</label>
		<select *ngIf="methods.length" [(ngModel)]="oas.method" [size]="methods.length">
			<option *ngFor="let method of methods">{{method}}</option>
		</select>

		<ng-template ngFor let-v [ngForOf]="oas.varList">
			<label [title]="v.type" style="color:#FF7">{{v.name}}</label>
			<input type="text" [(ngModel)]="v.value" />
		</ng-template>

		<ng-template ngFor let-p [ngForOf]="oas.paramiters">
			<input type="text" (change)="oas.checkParams()" [(ngModel)]="p.key" style="color:#7F7" class="label" />
			<input type="text" (change)="oas.checkParams()" [(ngModel)]="p.value" />
		</ng-template>

		<label *ngIf="oas.path">Path</label>
		<div *ngIf="oas.path" (click)="LoadURL()" style="text-decoration: underline;color:rgb(0,0,128);cursor:pointer;">{{oas.baseURL}}{{oas.path}}</div>
		
	</div>

	<textarea [(ngModel)]="res" [class]="{textBody: true, flipLeft: true, flipLeftHide: !loggedIn}" spellcheck="false"></textarea>

	<button [class]="{red: true, flipLeft: true, flipLeftHide: !loggedIn}" style="position:absolute;left:10px;bottom:10px;" title="Logout" (click)="oas.logout()">&#10005;</button>

	<div class="loadingSpinner" *ngIf="oas.loading">
		<div>
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 466 466">
				<path id="LP" fill="#FFFFFF" d="M200,10l 67 0c5 0,10 5,10 12l-17 156c0 0,0 10,-10 10c0 0,-18-4,-35 0c0 0,-10 0,-10-10l-17-156c0-2,1-12,10-12z"/>
				<use xlink:href="#LP" transform="rotate(72 233 233)"/>
				<use xlink:href="#LP" transform="rotate(144 233 233)"/>
				<use xlink:href="#LP" transform="rotate(216 233 233)"/>
				<use xlink:href="#LP" transform="rotate(288 233 233)"/>
			</svg>
		</div>
	</div>

</div>